* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #DFF6FF;
    width: 100%;  
}

header {
    background-color: #1363DF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    height: 64px;
    padding: 10px;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 2;
    border-bottom: 8px solid #06283D;
}

a {
    color: #DFF6FF;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

footer p {
    color: #DFF6FF;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 140px;
}


.text-aboutme {
    padding: 12px 124px;
    font-size: 24px;
    color: #06283D;
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text1 {
    width: 50%;
    padding: 24px 0px;
    font-size: 24px;
    color: #06283D;
    font-family: 'Righteous', cursive;
}

h1 {
    color: #06283D;
    font-size: 100px;
    padding: 12px 0px;
    font-family: 'Righteous', cursive;
    width: 100%;
}

.h1 {
    font-size: 100px;
    color: #06283D;
    width: 100%;
    font-family: 'Righteous', cursive;
}

.size {
    height: 200px;
    width: 200px;
}

.skills-img {
    display: flex;
    justify-content: space-around;
    padding: 64px;
}

.skills{
    padding: 12px 124px;
    font-size: 24px;
    color: #06283D;
}

footer {
    background-color: #1363DF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    height: 124px;
    width: 100%;
    padding: 10px 0px;
    margin: auto;
    font-family: 'Righteous', cursive;
    border-top: 8px solid #06283D;
}

footer a {
    color: #DFF6FF;
    
}

.me {
    margin-top: 100px;
    height: 400px;
    width: 330px;
    border: 5px solid #1363DF;
    border-radius: 10px;
}