* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1DEC9;
    width: 100%;  
}

header {
    background-color: #C8B6A6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    height: 64px;
    width: 100%;
    margin: auto;
    position: fixed;
}

a {
    color: #675D50;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 140px;
}


.text-aboutme {
    padding: 12px 124px;
    font-size: 24px;
    color: #675D50;
}

.text1 {
    width: 50%;
    padding: 24px 0px;
    font-size: 24px;
    color: #675D50;
}

h1 {
    color: #675D50;
    font-size: 100px;
    padding: 12px 0px;
}

.h1 {
    font-size: 100px;
    color: #675D50;
    width: 50%;
}

.size {
    height: 200px;
    width: 200px;
}

.skills-img {
    display: flex;
    justify-content: space-between;
    padding: 64px;
}

.skills{
    padding: 12px 124px;
    font-size: 24px;
    color: #675D50;
}

footer {
    background-color: #675D50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    height: 124px;
    width: 100%;
    padding: 10px 0px;
    margin: auto;
}