* {
    margin: 0;
}

body {
    background-color: #F1DEC9;
}

header {
    background-color: #C8B6A6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    height: 64px;
    width: 100%;
    padding: 10px;
    margin: auto;
}

a {
    color: #675D50;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 140px;
}

.contacts {
    padding: 12px 124px;
    font-size: 24px;
    color: #675D50;
}

h1 {
    font-size: 100px;
    padding: 12px 0px;
    color: #675D50;
}

h2 {
    font-size: 64px;
    padding: 12px 0px;
    color: #675D50;
}

.phone {
    padding: 24px 0px;
}

.gmail {
    padding: 24px 0px;
}

.github {
    padding: 24px 0px;
}

.linkedin {
    padding: 24px 0px;
}